body{
    height: 100%;
    width: auto;
    background-color: #000000 !important;
    font-family: Arial, Helvetica, sans-serif;
}

#headings{

    text-align: center;
    display: inline-block;
    font-size: 1.2em;
    color: #ffffff;
    margin: auto;
    padding:0%
}

.navbar-nav {
    margin: 0;
    padding: 0;
    left: 50%;
    text-align: center;
}

.navbar a:hover{
    background-color:rgb(172, 172, 172);
}

.contact{
    justify-content:left;
    align-items:center;
    flex-direction:column;
}
.title{
    text-align: left;
    display: block;
    font-size: 2em;
    color: #ffffff;
    margin: auto;
    padding-left: 5%;
    padding-top:5%;
}

.text-block{
    padding-left:5%;
    padding-top:1%;
    text-align: left;
    width:70%;
}

.container{
    text-align:left;
    width:50%;
    max-width:300px;
    padding-top: 1%;
    background-color: rgb(20, 26, 31);
}

.form-group{
    width:100%;
    margin-top:1%;
    font-size:1em;
}
.field input,
.field textarea{
    width:100%;
    padding:5px;
    font-size:0.7em;
    margin-top: 5px;
}

textarea{
    resize:vertical;
}

input[type="submit"] {
    display: block;
    padding: 10px 30px;
    font-size: 14px;
    background-color: #4460AA;
    color: #fff;
    border: none;
}

#status{
    width:30px;
    padding-left: 10%;
    text-align: left;
    padding-top:1%;
    color:rgb(105, 253, 46);
    display:none;
}
