body{
    height: 100%;
    width: auto;
    background-color: #dee2a1d2 !important;
    font-family: Arial, Helvetica, sans-serif;
}

#aboutme{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding:5%
}

#index{
    padding:5%
}

#top{
    padding:5%
}

.yifan-ni{
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 50%;
    height: auto;
    margin: auto;
    padding: 0%;
    border-radius: 0%;
}
.students{
    margin: auto;
}

.about{
    width:100%;
}


.title{
    text-align: center;
    display: inline-block;
    font-size: 2em;
    color: #000000;
    margin: auto;
}


.text{
    padding: 2%;
    font-size: 1.75em;
    color: #000000;
    margin: auto;
}

.hypertext{
    padding: 2%;
    font-size: 1.75em;
    color: #0000FF;
    margin: auto;
}
.hypertextabout{
    font-size: 1em;
    color: #0000FF;
    margin: auto;
}

.yifan-ni-photo{
    margin: auto;
    max-width: 30%;
    height: auto;
    border-radius: 20%;
    padding:2%
}


.prev{
    float: left;
    margin: auto;
}

.next{
    float: right;
    margin: auto;
}